In [1]:
import pandas as pd

In [13]:
df = pd.read_csv(r'data\143028A.csv', usecols=[0, 1, 3], skiprows=5, index_col=0)
df.head()

                             0.00        0.0000
01:00:00 01/01/2017
02:00:00 01/01/2017          0.00           0.0
03:00:00 01/01/2017          0.00           0.0
04:00:00 01/01/2017          0.00           0.0
05:00:00 01/01/2017          0.00           0.0
06:00:00 01/01/2017          0.00           0.0